[submodule ".registry"]
	path = .registry
	url = https://github.com/forkonlp/universe
	shallow = true
	branch = HEAD
[submodule "presidentSpeech"]
	path = presidentSpeech
	url = https://github.com/forkonlp/presidentSpeech
	shallow = true
	registered = true
[submodule "N2H4"]
	path = N2H4
	url = https://github.com/forkonlp/N2H4
	shallow = true
	registered = true
[submodule "KoNLP"]
	path = KoNLP
	url = https://github.com/forkonlp/KoNLP
	shallow = true
	registered = true
[submodule "DNH4"]
	path = DNH4
	url = https://github.com/forkonlp/DNH4
	shallow = true
	registered = true
