[submodule ".registry"]
	path = .registry
	url = https://github.com/forkonlp/universe
	branch = HEAD
[submodule "DNH4"]
	path = DNH4
	url = https://github.com/forkonlp/DNH4
[submodule "N2H4"]
	path = N2H4
	url = https://github.com/forkonlp/N2H4
[submodule "komment"]
	path = komment
	url = https://github.com/forkonlp/komment
